<script lang="ts">
  import { invalidateAll } from '$app/navigation';
  import { error } from '@sveltejs/kit';

  let name = '';
  let userName = '';
  let delId = '';
  let selectedUsers: number[] = []; // array of user ids to delete

  import type { PageData } from './$types';
  export let data: PageData;

  async function handleDeleteUsers(users: string[]) {
    console.log("got delete users click", selectedUsers);
    
  };

  async function handleDelete(id: string) {

    console.log("got delete click", id);
    const response = await fetch(`/api/users/${id}`, {
      method: 'DELETE', // *GET, POST, PUT, DELETE, etc. 
      //body: JSON.stringify({ id: id }), // body data type must match "Content-Type" header
    });
    if (response.ok) {
        invalidateAll();
        delId = '';
      }

  };

  async function handleAddUser(params: { name: string; userName: string }) {
    console.log("got add user click", params);
    const response = await fetch(`/api/users`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
      },
      body: JSON.stringify(params),
  });
  if (response.ok) {
    console.log("got response ok");
    invalidateAll();
    userName = '';
    name = '';
  } else { 
    console.log("got response not ok");
    // could not insert new user - alert user
    throw error(422,"could not create new user. data invalid")
  }
};


</script>
<h1>Welcome to SvelteKit</h1>
<p>Visit <a href="https://kit.svelte.dev">kit.svelte.dev</a> to read the documentation</p>
<table><tr>
  <th>id</th>
  <th>name</th>
  <th>username</th>
  </tr>
  {#each data.users as user}
  <tr>
    <td><input type="checkbox" name="selected"></td>
    <td>{user.id}</td>
    <td>{user.name}</td>
    <td>{user.username}</td>
  </tr>
  {/each}
</table>
<p>Enter name and username of new user you wish to enter into the database</p>
  <input type="text" id="name" name="name" bind:value={name}/>
  <label for="name">Name:</label>
  <input type="text" name="userName" id="userName" bind:value={userName}>
  <label for="userName">Username:</label>
    <button 
    on:click={() => handleAddUser( { name: name, userName: userName })}
  >
  Add User
</button>


<br />
<input placeholder="id to delete" type="text" name="delId" id="delId" bind:value={delId} />
<button 
  on:click={() => handleDelete(delId)}>
  delete
</button>
<br />
<button 
  on:click={() => handleDeleteUsers(selectedUsers)}>
  Delete Checked Users
</button>
